server:
  port: 8081


spring:
  profiles:
    active: dev

---
spring:
  profiles: dev
  datasource:
    className: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/order_service
    username: root
    password: 76349851jude$$
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
#management:
#  endpoints:
#    web:
#      exposure:
#        include: "*"
#        exclude: "env,beans"



---
spring:
  profiles: prod
  datasource:
    className: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/order_service
    username: root
    password: 76349851Jude$$
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

